<div class="reset-form-flex">
  <mat-card>
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Enter your email" #email required>
      </mat-form-field>
      <br/>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-flex-container">
        <button mat-raised-button color="primary" (click)="resetPassword(email.value)">Reset Password</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
