<mat-sidenav-container
  class="sidenav-container mat-app-background"
  [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
>
  <!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> -->

  <mat-toolbar color="primary">
    <ng-container>
      <button mat-icon-button routerLink="/home">
        <mat-icon matTooltip="Home" aria-hidden="false" aria-label="Home">
          home
        </mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="authservice.currentUser">
      <button mat-icon-button routerLink="/profile">
        <mat-icon matTooltip="Profile" aria-hidden="false" aria-label="Profile">
          account_circle
        </mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="authservice.currentUser">
      <button mat-icon-button>
        <mat-icon matTooltip="Create" aria-hidden="false" aria-label="Create">
          backup
        </mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="!authservice.currentUser">
      <button mat-icon-button routerLink="/login">
        <mat-icon matTooltip="Login" aria-hidden="false" aria-label="Login">
          fingerprint
        </mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="authservice.currentUser">
      <button mat-icon-button (click)="authservice.singout()">
        <mat-icon matTooltip="Logout" aria-hidden="false" aria-label="Logout">
          power_settings_new
        </mat-icon>
      </button>
    </ng-container>

    <mat-slide-toggle
      matTooltip="Theme"
      aria-hidden="false"
      aria-label="Theme"
      [(ngModel)]="isDarkTheme"
      labelPosition="before"
      (change)="storeThemeSelection()"
    >
      <!-- <mat-icon>bedtime</mat-icon> -->
    </mat-slide-toggle>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
