.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -90px;
  margin-left: -5px;
}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.reset-password-class{
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.register-redirect-class{
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.text-danger{
  display: flex;
  justify-content: center;
  align-items: center;
}
