.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.content-form-flex {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -130px;
}

.title-class {
  width: 100%;
}

.button-flex-container {
  justify-content: center;
}

