/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.placeholder-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.user-text-container {
  text-align: center;
}

.mat-tooltip.tooltip
{
    font-size: 13px;
}
